<html>
    <head>
        <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
        <script src='/controller.js'></script>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
        <title>Short URL Service</title>
    </head>
    <body>
        <div class='content'>
            <form method='POST' action='/'>
                <p>Please enter valid (https://, www...) URL you want to shorten</p>
                <input type='text' name='urlInput' placeholder='Please enter an URL' required/>
                <button type='submit'>Submit</button>
            </form>
            <div>
                <p>Shortened link: </p>
                <p>
                    <span id='shortLink'>
                        <%=message%>
                        <a href=<%=targetURL%> target='_blank'>
                            <%=url%>
                        </a>
                    </span>
                </p>
            </div>
            <div class="push"></div>
        </div>
        <footer>Created by BXR</footer>
    </body>
</html>